body {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: black;
}

* {
    margin: 0;
    padding: 0;
}

#selectorList {
	position: absolute;
	top: 0;
	right: 0;
	list-style-type: none;
	margin: 0;
	padding: 0;
	background-color: rgb(200,200,200);
	backface-visibility: hidden;
    pointer-events: all;
}

#selectorList li {
    margin : 5px;
}

textarea {
    resize: none;
}

#buttons {
    position: absolute;
    z-index: 10;
    pointer-events:none;
    width: 2048px;
    height: 1496px;
}

.button {
    text-shadow: -2px 0 white, 0 2px white, 2px 0 white, 0 -2px white;
    pointer-events: all;
    position: absolute;
    display: inline-block;
}

#upButton {
    top: 0;
    margin: 0 auto;
    left: 0;
    right: 0;
}

#downButton {
    bottom: 0;
    margin: 0 auto;
    left: 0;
    right: 0;
}

#leftButton {
    left: 0;
	top: 50%;
	transform: translateY(-50%);
}

#rightButton {
    right: 0;
	top: 50%;
	transform: translateY(-50%);
}

#canvas {
    position: absolute;
}

.fa-bigx {
  font-size: 7em;
}