var config = {};

config.oauth = {};
config.oauth.clientId = "";
config.oauth.clientSecret = "";
config.oauth.redirectUri = "";

config.jwt = {}
config.jwt.secret = ""

config.mysql = {}
config.mysql.url = "localhost"
config.mysql.username = ""
config.mysql.password = ""
config.mysql.database = "hexmap"

config.listeningPort = 8081
config.listeningDomain = "localhost"

module.exports = config;