body {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: white;
}

* {
    margin: 0;
    padding: 0;
}

.modal p {
    padding: 5px 0;
}

.modal button {
    font-size: 1em;
    padding: 0 5px;
    margin: 2px 5px;
}
.modalRoot {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.5);
    position: absolute;
    z-index: 99999;
}

.modal {
    top: 50%;
    position: absolute;
    text-align: center;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #a5783d;
    font-size: 2em;
    padding: 10px;
    border-radius: 25px;
}

#selectorList {
    position: absolute;
    top: 0;
    right: 0;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: rgb(200, 200, 200);
    backface-visibility: hidden;
    pointer-events: all;
}

#selectorList li {
    margin: 5px;
}

textarea {
    resize: none;
}

#buttons {
    z-index: 10;
    pointer-events: none;
}

.button {
    text-shadow: -2px 0 white, 0 2px white, 2px 0 white, 0 -2px white;
    pointer-events: all;
    position: absolute;
    display: inline-block;
}

#upButton {
    top: 0;
    margin: 0 auto;
    left: 0;
    right: 0;
}

#downButton {
    bottom: 0;
    margin: 0 auto;
    left: 0;
    right: 0;
}

#leftButton {
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

#rightButton {
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

#canvas {
    position: absolute;
}

.fa-bigx {
    font-size: 4em;
    cursor: pointer;
}

@media screen and (max-device-width: 320px) {
    .fa-bigx {
        font-size: 3em;
    }
}