button {
    all: unset;
}

title {
    display: none;
}

h2, p {
    display: inline-block;
}

body {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: white;
}

* {
    margin: 0;
    padding: 0;
}

.modal p {
    padding: 5px 0;
}

.modal button {
    font-size: 1em;
    padding: 0 5px;
    margin: 2px 5px;
}

.modalRoot {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    z-index: 99999;
}

.modal {
    top: 50%;
    position: absolute;
    text-align: center;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #a5783d;
    font-size: 2em;
    padding: 10px;
    border-radius: 25px;
}

ul {
    list-style-type: none;
}

#selectorList {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    background-color: rgb(200, 200, 200);
    backface-visibility: hidden;
    pointer-events: all;
    padding: 4px;
}

textarea {
    resize: none;
}

#buttons {
    z-index: 10;
    pointer-events: none;
}

.translate-button {
    text-shadow: -2px 0 white, 0 2px white, 2px 0 white, 0 -2px white;
    pointer-events: all;
    position: absolute;
    display: inline-block;
}

#upButton {
    top: 0;
    margin: 0 auto;
    left: 0;
    right: 0;
}

#downButton {
    bottom: 0;
    margin: 0 auto;
    left: 0;
    right: 0;
}

#leftButton {
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

#rightButton {
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

#canvas {
    position: absolute;
}

.fa-bigx {
    font-size: 2.5em;
    cursor: pointer;
}

.overlaid i:first-child {
    position: absolute;
    top: 0;
    left: 0;
    font-size: .4em;
}

.overlaid i:last-child {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: .4em;
}

.overlaid {
    position: relative;
}

#toolButtons {
    position: relative;
}

#toolButtons ul {
    position: absolute;
    left: 0;
    transform: translateX(-100%);
    top: 0;
    width: max-content;
    background-color: rgb(200, 200, 200);
    padding: 2px;
}

#toolButtons ul li {
    display: inline-block;
}

.hidden {
    display: none !important;
}

.button {
    box-shadow: inset 0px 1px 0px 0px #9acc85;
    background-color: #74ad5a;
    border: 1px solid #3b6e22;
    display: inline-block;
    cursor: pointer;
    color: #ddd;
    font-size: 13px;
    font-weight: bold;
    padding: 6px 12px;
    text-decoration: none;
}

.button:hover {
    background-color: #68a54b;
}

.button:active {
    position: relative;
    top: 1px;
}

@media screen and (max-device-width: 320px) {
    .fa-bigx {
        font-size: 3em;
    }
}

.tileModalBody {
    width: 800px;
}

.tileModalBodyTileView {
    width: 30%;
    height: 200px;
    background-color: black;
    display: inline-block;
    color: white;
    font-size: .5em;
    position: relative;
}

#tileViewCanvas {
    display: inline-block;
    text-align: center;
    top: 50%;
    position: relative;
    transform: translateY(-50%);
}

#tileViewTerrainName {
    top: 0;
    right: 1px;
    position: absolute;
    text-align: right;
}

#tileViewFeatureName {
    bottom: 0;
    right: 1px;
    position: absolute;
    text-align: right;
}

.tileModalBodyDescription {
    display: inline-block;
    width: 70%;
    vertical-align: top;
    text-align: left;
}

.tileModalBodyDescription p {
    padding-left: 5px;
}

#tileFeatureSection {
    height: 100px;
}

#tileMonsterBar {
    width: 15%;
}

#tileLocationBar {
    width: 15%;
}

#tileFeatureDescription {
    width: 70%;
}